version: "3.8"

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:

services:
  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  userauthentication-service:
    build: ./backend/userauthentication-service
    environment:
      - AWS_REGION=us-east-1
      - MONGO_URI=mongodb://mongodb:27017/UserAuthDB
      - PORT=4000
    expose:
      - "4000"
    depends_on:
      - mongodb
    networks:
      - app-network

  videostreaming-service:
    build: ./backend/videostreaming-service
    environment:
      - AWS_REGION=us-east-1
      - PORT=3001
      - MONGO_URI=mongodb://mongodb:27017
      - MONGO_DB_NAME=VideoStreamingDB
      - MONGO_COLLECTION_NAME=VideosMetaData
    expose:
      - "3001"
    depends_on:
      - mongodb
    networks:
      - app-network

  watchlist-service:
    build: ./backend/watchlist-service
    environment:
      - AWS_REGION=us-east-1
      - PORT=3002
      - DYNAMO_TABLE_NAME=WatchlistData
    expose:
      - "3002"
    volumes:
      - ~/.aws:/root/.aws:ro
    networks:
      - app-network

  api-gateway:
    build: ./backend/api-gateway
    ports:
      - "3003:3003"
    depends_on:
      - userauthentication-service
      - videostreaming-service
      - watchlist-service
    environment:
      - PORT=3003
      - USER_SERVICE_URL=http://userauthentication-service:4000
      - VIDEO_SERVICE_URL=http://videostreaming-service:3001
      - WATCHLIST_SERVICE_URL=http://watchlist-service:3002
    networks:
      - app-network

  # If you want the frontend containerized, ensure ./frontend has a Dockerfile that builds React
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    environment:
      - HOST=0.0.0.0
    depends_on:
      - api-gateway
    networks:
      - app-network
#  nginx:
#    build:
#      context: .
#      dockerfile: ./Dockerfile-nginx
#    ports:
#      - "80:80"
#    depends_on:
#      - frontend
#      - api-gateway
#    networks:
#      - app-network
