@import "./styles/base.css";
@import "./styles/layout.css";
@import "./styles/components.css";
@import "./styles/Auth.css";
@import "./styles/Navbar.css";
@import "./styles/Dashboard.css";
@import "./styles/VideoPlayerPage.css";